.primary {
	min-width: 100px;
	font-size: 1.6rem;
	font-weight: 500;
	margin: 10px 0;
	cursor: pointer;
}
.outline {
	background-color: #fff;
	border: 1px solid #cd1818;
	&:hover {
		background-color: #cd1818;
		color: #fff;
	}
}

.rounded {
	border-radius: 6px;
}

.fill {
	background-color: #cd1818;
	color: #fff;
	&:hover {
		background-color: #fff;
		color: #cd1818;
	}
}
